# vs code and vim
*.swp
.vscode/


bin/
bin-int/
build/

# personal project management
docs/
logs/
scripts/

# compiler & os junk (highly recommended for c++)
*.o
*.obj
*.out
.DS_Store
Thumbs.db

# to make sure global git configurations arent removes
!.gitattributes
!.gitignore

