# vs code, nvim and thier extensions
*.swp
.vscode/
.nvim/
.sourcedive/
.cache/

# libraries and tools data
imgui.ini
logs/

bin/
bin-int/
build/
assets/

# personal project management
docs/
scripts/

# compiler & os junk
*.o
*.obj
*.out
.DS_Store
Thumbs.db

!.gitattributes
!.gitignore

